<div class="video-popup" id="video-popup">
  <div class="video-popup__video-inner wrapper">
    <div class="video-popup__video"></div>
  </div>

  <button type="button" class="video-popup__close">
    {% render 'icon' with 'close' %}
    <span class="sr-only">close video modal</span>
  </button>
</div>